body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  padding: 8px;
  font-size: 16px;
  margin-top: 0px; /*0 because there is already padding in card so margin will increase spacing*/
  margin-bottom: 8px; /*to give space b/w title and content*/
}

.content {
  background: #e3f4ff;
  padding: 16px 8px;
  margin-bottom: 8px; 
}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 8px 24px;
  display: block;
  margin: 0 auto; /*for horizontal centering*/
}